@value grey: #A5A5A5F0;

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 300px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

.videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.videoDescription {
  width: 95%;
}

.pagination {
  display: flex;
}

.pagination p {
  padding-right: 1em;
}

.paginationButton {
  color: black;
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1em;
  margin: 25px;
  padding: 15px 40px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.paginationButton:hover {
  background-color: black;
  color: #FFF;
}

.disabled {
  color: white;
  background-color: grey;
  border: none;
  cursor: not-allowed !important;
}

.disabled:hover {
  background-color: grey;
  color: #FFF;
}

.youtubeContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 30px;
}

.youtubeContainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
