.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media (max-width: 800px) {
  .linkGroup {
    flex-direction: column;
  }
}

.linkGroup {
  display: flex;
  flex-wrap: wrap;
}

.linkLogo {
  margin-bottom: 0.75em;
}

.linkItems {
  text-align: center
}
